In [4]:
#import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random
%matplotlib inline

In [5]:
#read dataset 1
df1=pd.read_csv('nestle_revenue_data.csv')
df1.set_index('year', inplace=True)
df1

      revenue in brazil
year
2022               3.76
2021               2.93
2020               2.79
2019               3.65
2018               3.68
2017               4.32
2016               4.12
2015               3.93
2014               5.10
2013               5.10
2012               5.35
2011               5.38
2010               6.92
2009               5.79
2008               5.67
2007               5.29
2006                NaN

In [6]:
#read dataset 2
df2=pd.read_csv('brazil_diabetes_data.csv')
df2['diabetes prevalence (%)'] = df2['val']*100
df2=df2[['year','diabetes prevalence (%)']]
df2.set_index('year', inplace=True)
df2

      diabetes prevalence (%)
year
2006                 4.174654
2007                 4.274694
2008                 4.372100
2009                 4.470916
2010                 4.575082
2011                 4.707327
2012                 4.873888
2013                 5.057205
2014                 5.237812
2015                 5.393274
2016                 5.513421
2017                 5.616713
2018                 5.703163
2019                 5.760488

In [7]:
#merge datasets
df_joined = df2.merge(df1, left_index=True, right_index=True, how="inner")
df_joined

      diabetes prevalence (%)  revenue in brazil
year
2006                 4.174654                NaN
2007                 4.274694               5.29
2008                 4.372100               5.67
2009                 4.470916               5.79
2010                 4.575082               6.92
2011                 4.707327               5.38
2012                 4.873888               5.35
2013                 5.057205               5.10
2014                 5.237812               5.10
2015                 5.393274               3.93
2016                 5.513421               4.12
2017                 5.616713               4.32
2018                 5.703163               3.68
2019                 5.760488               3.65

In [8]:
#import bokeh
from bokeh.io import output_file, save
from bokeh.plotting import figure, show
output_file('output_file_test.html', title='Diabetes Prevalence against Nestle Revenue')
from bokeh.resources import CDN
from bokeh.embed import file_html

In [9]:
from bokeh.models import ColumnDataSource

df_joined_cds=ColumnDataSource(df_joined)

In [10]:
#hover
TOOLTIPS = [("year","$index"),("(x,y)", "($x, $y)"),]

#coordinates (i got a bit confused on how to put my scatter and regression on the same graph so this is why i did this but also i mean it still worked)
x=np.array([4.274694,4.372100,4.470916,4.575082,4.707327,4.873888,5.057205,5.237812,5.393274,5.513421,5.616713,5.703163,5.760488])
y=np.array([5.29,5.67,5.79,6.92,5.38,5.35,5.10,5.10,3.93,4.12,4.32,3.68,3.65])

#customising figure
p = figure(background_fill_color='black',
           border_fill_color='black',
           title="Diabetes Prevalence against Nestle Revenue",
           x_axis_label="Nestlé Revenue",
           y_axis_label="Diabetes Prevalence %",
           tooltips=TOOLTIPS
)

p.grid.grid_line_color = 'gray'
p.grid.grid_line_alpha = 0.5

#reression line
par = np.polyfit(x, y, 1, full=True)
slope=par[0][0]
intercept=par[0][1]
y_predicted = [slope*i + intercept  for i in x]

#scatter plot
p.star(x, y, size=30, color='greenyellow', alpha=0.5)
p.line(x,y_predicted,color='hotpink')

show(p)